.promotion_header
  %h3
    = !@promotion.nil? ? image_tag(@promotion.logo.to_s) : "[Promotion Company name]"
  .header_shadow
  %h1 
    = !@promotion.nil? ? @promotion.title : "[Promotion Header]"
  = render :partial => 'carousel'
  .bottom_shadow
.promotion_conditions
  %h3 
    = !@promotion.nil? ? @promotion.desc : "[Promotion conditions]"

#credit_card_shadow
  .credit_card
    #credit_cards_icons
    %span.card_left Register credit/debit card.
    #credit_cards_icon
    = form_for :credit_card do |f|
      = f.text_field :number, placeholder: "Enter Credit or Debit Card Number"
      .submit_button
        = link_to "" , "#", :onclick => "$('form[name=credit_card]').submit(); return false;"
    = link_to 'Terms of Service', "#"

.how_works
  .one
    .shadow
      .number
      .description Register any credit or debit card.
  .two
    .shadow
      .number
      .description Visit the Store and Shop as you normaly do.
  .three
    .shadow
      .number
      .description The promotion is automatically applied when you make a purchese with your registred card.
   
.bypass
  = link_to "No thanks, I'd rather print this promotion and bring it with me.", "#"
 
