.promotion_header
  %h3
    = !@promotion.nil? ? @promotion.company_name.upcase : "[Promotion Company name]"
  .header_shadow
  %h1 
    = !@promotion.nil? ? @promotion.title : "[Promotion Header]"
  = render :partial => 'carousel'
  .bottom_shadow
.promotion_conditions
  %h3 
    = !@promotion.nil? ? @promotion.desc : "[Promotion conditions]"
.how_works
  .one
    .number 1
    .description Register any credit or debit card.
  .two
    .number 2
    .description Visit the Store and Shop as you normaly do.
  .three
    .number 3
    .description The promotion is automatically applied when you make a purchese with your registred card.
  
.credit_card
  %span Register credit/debit card.
  = form_for :credit_card do |f|
    = f.text_field :number, placeholder: "Enter Credit or Debit Card Number"
    = f.submit "Add Promotion to My Card", :id => "button" 
    
.bypass
  = link_to "No thanks, I'd rather print this promotion and bring it with me.", "#"
  
.user_comments
  .comment
  
.leave_comment 
  .title Leave Comment
  = form_for :comment do |f|
    = f.label :name, "Your Name:"
    = f.text_field :name
    = f.label :email, "Your Email:"
    = f.text_field :email
    = f.label :website, "Your Website:"
    = f.text_field :website
    = f.label :content, "Your Comment:"
    = f.text_area :content, size: "20x20"
    = f.submit "Submit Comment", :id => "button" 

%p.fine_print 
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
