# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/

$ ->
  counter = 0
  markup = "<tr class='person'><td class='id'>${id}</td><td class='name'>${name}</td></tr>"
  
  $('a#get_person').click -> 
    $.ajax
      dataType: 'json',
      type: 'GET',
      url:  "<%= Rails.application.routes.url_helpers.persons_path%>"+"/#{counter}"
      data: 
        id: counter
      success: (data) =>
        parse_data(data)
        counter = data.id
   
  parse_data = (data) =>
    $.template("rowWithName", markup)
    $.tmpl("rowWithName", data).appendTo('.persons tbody')
    
  $('.sort a').click ->
    field = $(this).attr('field')
    order = $(this).attr('order')
    $('.persons tbody').empty()
    $.ajax
      dataType: 'json',
      type: 'GET',
      url:  "<%= Rails.application.routes.url_helpers.persons_path%>"
      data:
        field: field
        order: order
      success: (data) =>
        for person in data
          do (person) =>
            $.template("rowWithName", markup)
            $.tmpl("rowWithName", person).appendTo('.persons tbody')
  
  $('a#delete_favourite, a#delete_in_favourite').click ->
    favourite_id = $(this).attr('favourite_id')
    current_person_id = $(this).attr('current_person_id')
    type = $(this).attr('type')
    $(this).parent().remove()
    $.ajax
      dataType: 'json',
      type: 'DELETE',
      url:  "<%= Rails.application.routes.url_helpers.favourites_relations_path %>"
      data:
        favourite_id: favourite_id
        current_person_id: current_person_id
        type: type
        
  $('.add_to_favourites select#favourite_id').change ->
    favourite_id = $(this).attr('value')
    current_person_id = $('.add_to_favourites #current_person_id').attr('value')
    $.ajax
      dataType: 'json',
      type: 'POST',
      url: "<%= Rails.application.routes.url_helpers.favourites_relations_path %>" 
      data:
        favourite_id: favourite_id
        current_person_id: current_person_id
      success: (data) => 
        $('.add_to_favourites select#favourite_id :selected').remove()
        
  #$('select#first_letter').change ->
  #first_letter = $(this).val()
  #$('.persons tbody').empty()
  #$.ajax
  #  dataType: 'json',
  #  type: 'GET',
  #  url: "<%= Rails.application.routes.url_helpers.persons_path %>" 
  #  data:
  #    first_letter: first_letter
  #  success: (data) =>
  #    for person in data
  #      do (person) =>
  #        $.template("rowWithName", markup)
  #        $.tmpl("rowWithName", person).appendTo('.persons tbody')